*{
	margin: 0;
}

:root{
	--nav-width:20%
}

html{
	background-color: whitesmoke;
	padding: 2em;
	
}

body{
	text-align: center;
	font-family: sans-serif;
	display: flex;
	background-color: #9aa0a63b ;
	border-radius: 3em;
}

nav{
	width: var(--nav-width);
	height: 100vh;
	padding-top: 2em;
	border-top-left-radius: 3em;
	border-bottom-left-radius: 3em;

 
}

nav button{
	background-color: #54c2c5;
	font-size: 1.1em;
	padding: .5em;
	border-radius: .2em;
	font-weight: 600;
	color: white;
	border: none;
	box-shadow: .1em .1em .5em #54c2c5;
	
}

nav img{
	width:90%;
}

ul{
	padding: 1em;
}

ul li {
	list-style: none;
	padding: 1em;
	height: 100%;
	text-align: center;
}

li img{
	width: fit-content;
	
}
li{
	padding: .5em;
}
li a{
	text-decoration: none;
	color: black;
}

main{
	width: calc(100% - var(--nav-width));
	
}


form input,input{
	margin: 1em;
	font-family: sans-serif;
}


form label{
   display: inline-block;
   width: 10em;	
}

input[type=email]
{
	width: 15em;
}
.content{
	/* display: flex; */
	border-radius: 3em;
	background-color: white;
	width:100%;
	height: 100%;
}

.grid-container{
	display: grid;
	gap: 10px;
	grid-template-columns: 700px minmax(300px, 1fr);
}

.settings{
	border-radius: 3em;
	padding: 2em 1em 1em 1em;
	text-align: left;
	font-size: 1.1em;
	color: gray;
	/* background-color: aqua; */
}

.settings h1{
	padding-bottom: .5em;
	font-size: 2.5em;
	font-weight: normal;
	color: black;
}

.btn{
	border-radius: 3em;
	color: white;
	width: 6em;
	padding: .5em;
	font-size: 1.2em;
	position: relative;
	left: 50%;
	border: none;
}

.btn-red{
	background-color: rgba(255, 0, 0, 0.603);
	box-shadow: 0 .1em .5em red;

}

.btn-green{
	background-color: rgb(130, 245, 140);
	box-shadow: 0 .1em .5em green;

}

.sideprofile{
	border-radius: 3em;
	padding: 2em 1em 1em 1em;
	/* background-color: aquamarine; */
}




.top-profile{
	display: flex;
	width: 100%;
	column-gap: 10px;
	align-items: center;
}

.notification{
	float: left;

}

.notification a{
	position: relative;
	
}

.sideprofile p{
	color: rgba(255, 0, 0, 0.507);
	display: inline-block;
	position: relative;
	top: 2.5%;
}




